body {
    margin: 0;
}

/* header and it's components styling */
header {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
}

header .left_menu {
    display: flex;
}

header .left_menu  .logo {
    font-size: 2rem;
}

header .left_menu .nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 75px;
}

header .left_menu .nav_links a {
    text-decoration: none;
    color: black;
    padding: 0 20px;
}

header .right_menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .right_menu .social_logins a{
    text-decoration: none;
    color: steelblue;
    padding: 0 30px 0 0;
}

header .right_menu .email a {
    text-decoration: none;
    color: steelblue;
    padding: 0 40px;
}

/* hero section styling */
.hero{
    height: 450px;
    /* background: grey; */
    margin: 0 auto;
}

/* styles section after menu */
.profile_tag {
    display: flex;
    padding: 20px 100px;
    clear:both;
}

/* styles text within the profile tag class */
#text_container {
    padding: 30px;
    padding-left: 80px;
}

/* styles the software developer button */
button {
    background-color:lavender;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

/* style the image within the profile image class */
.img_style {
    width: auto;
}

.partner_section {
    height: 200px;
    /* background: grey; */
    text-align: center;
    justify-content: center;
    padding: 20px;
}

/* style the code pamoja image logo */
.resize_logo {
    width: auto;
    height: 50px;
}

/* create spacing below client worked for heading */
.company_logos {
    padding: 10px;
}

section .lead_text {
    padding: 20px 200px;
}

footer {
    height: 400px;
    background: grey;
}
