.i {
    display: flex;
    height: 100vh;
}

.i-left {
    flex: 1;
}

.i-right {
    flex: 1;
}

.i-left-wrapper {
    padding: 50px;
}

.i-preface {
    font-size: 30px;
    font-weight: 300;
}

.i-name {
    font-size: 60px;
}

.i-titles {
    height: 50px;
    overflow: hidden;
}

.title-wrappers {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}
.title-name {
    height: 50px;
    font-size: 30px;
    color: #0e90e5;
    background-color: #f1f4f6;
    display: flex;
    align-items: center;
}